<app-loader *ngIf="isloading"></app-loader>
<div class="row mb-5 d-flex align-items-center">
    <div class="col-md-4">
        <div class="pt-4">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let imge of productDetails.images">
                    <ng-template carouselSlide >
                        <img [src]="imge" [alt]="productDetails.title">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
    <div class="col-md-8">
        <div>
            <h3>{{productDetails.title}}</h3>
            <p class="text-muted">{{productDetails.description}}</p>
            <div class="d-flex justify-content-between">
                <p>{{productDetails.category.name}}</p>
                <!-- <span><i [class]="addtoWish?'fa fa-heart heart-color fs-4 fa-beat':'fa-regular fa-heart fs-4'" (click)="addProductToWishList(productId)"></i></span> -->
                <span *ngIf="!myWishList.includes(productId) "><i class="fa-regular fa-heart fs-4" (click)="addProductToWishList(productId)"></i></span>
                <span *ngIf="myWishList.includes(productId)"><i class="fa fa-heart heart-color fs-4 fa-beat" (click)="removeProductFromWishList(productId)"></i></span>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <span>{{productDetails.price|currency:'EGP '}}</span>
                <span>
                    <!-- <i  [class.rating-color]="productDetails.ratingsAverage>=star" class="fa-regular fa-star " *ngFor="let star of [1,2,3,4,5]"></i> -->
                    <i  [class]="productDetails.ratingsAverage>=star?'fa fa-star rating-color':'fa-regular fa-star'" *ngFor="let star of [1,2,3,4,5]"></i>
                    {{productDetails.ratingsAverage}}
                </span>
            </div>
            <button class="btn bg-main text-white w-100" (click)="addItemToCart(productId)">+ add to cart</button>
        </div>
    </div>
</div>