
<div class="row gx-0 mt-4">
    <div class="col-md-9">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="assets/main-slider-3.jpeg" height="400" class="w-100" alt="main-slider-1">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="assets/main-slider-2.jpeg" height="400" class="w-100" alt="main-slider-2">
            </ng-template>  
            <ng-template carouselSlide>
                <img src="assets/main-slider-1.jpeg" height="400" class="w-100" alt="main-slider-3">
            </ng-template>  
          </owl-carousel-o>
    </div>
    <div class="col-md-3">
        <div>
            <div>
                <img src="assets/main-slider-1.jpeg" height="200" class="w-100" alt="">
            </div>
            <div>
                <img src="assets/main-slider-2.jpeg" height="200" class="w-100" alt="">
            </div>
        </div>
    </div>
</div>
